.menu-item
  flex 0 0 auto
      
  a
    display flex
    
    align-items center
    
    padding 8px
    
    width 100%
    
    background-color rgba(255, 255, 255, 0)
    
    cursor pointer
    
    transition background-color 0.3333s
    
    &:hover, &.active
      background-color rgba(255, 255, 255, 1)
      
      font-weight 700

  &.large
    a
      height 48px
