button, .button, [type="button"], [type="submit"]
  -moz-appearance none
  -webkit-appearance none
  appearance none
  
  display flex

  flex 0 0 200px
  
  align-items center
  justify-content center
  
  height 32px
  width 200px

  color #efefef

  font-weight 700
  
  text-transform uppercase
  
  letter-spacing 1px
  
  border none
  border-radius 4px
  
  outline none
  
  background-color #276fd7
  
  transition color 0.3333s, background-color 0.3333s
  
  &:hover
    color #ffffff
  
    background-color #3f87ef
    
  &.red
    background-color #df2f2f
  
    &:hover
      background-color #ef4f4f
