.page
  display flex
  
  flex 1 0 100%

  flex-direction column
  
  height 100%
  
  overflow hidden
  
.page-header
  display flex
  
  align-items center
  
  flex 0 0 auto

  padding 20px
  
  height 80px

  background-color #bfbfbf
  
.page-content
  display flex
  
  flex 1 1 auto
  
  flex-direction column

  padding 20px
  
  overflow-x hidden
  overflow-y auto
  
  width 100%
  
  &.middle
    align-items center
    justify-content center
  
.page-controls
  display flex
  
  align-items center
  justify-content flex-end
  
  padding 20px
  
  .button
    margin-left 20px
