.menu-container
  display flex
  
  flex 0 0 240px

  flex-direction column
  
  overflow hidden
  
  text-transform uppercase
  
.menu-header
  display flex
  
  align-items center
  
  flex 0 0 auto
  
  padding 8px
  
  height 40px
  
  background-color #cfcfcf
  
.menu
  display flex
  
  flex 1 0 auto
  
  flex-direction column
  
  padding 10px 0
  
  background-color #dfdfdf
