input[type="text"], input[type="password"], textarea
  -moz-appearance none
  -webkit-appearance none
  appearance none
  
  display block

  padding 8px

  width 100%
  
  border 2px solid #4f4f4f
  border-radius 4px
  
  outline none

  background-color rgba(255, 255, 255, 0.125)
  
  font-family inherit
  
  &.large
    height 40px
    
    font-size 24px
    font-weight 700

    line-height 24px important
    
  &::placeholder
    color inherit
    opacity 0.6667
    
textarea
  flex 1 0 auto
  
  resize none

.error  
  color #ef1f1f
  
  font-size 12px
  font-weight 700