form    
  width 560px
  
fieldset
  box-sizing content-box
  position relative
  
  display block

  margin 0 -8px
      
  padding-bottom 24px
  
  &:last-child
    padding-bottom 0
  
  .field-container    
    padding 0 8px

    width 50%
    
    float left
    
  &:after
    content ""
    display table
    clear both
        
  .error
    position absolute
    top -18px
    
    width 100%
    
    text-align center
  
  .button
    margin 0 auto